%a.znbja_target(name=ID)
.znbja_container
  %span
    [b]Name:[/b]
    %a(href=ID) = name
  %br
  %span
    [b]Classification:[/b] = classification
  %br
  %span
    [b]Rank:[/b] = rank
  %br
  %span
    [b]Class:[/b] = class
  %br
  %span
    [b]Range:[/b] = range
  %br
  %br
  %span
    [b]Description:[/b]
    %br=description
