@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Satisfy');

#dhst_toggle {
	display: none;
}
.dhst_button {
	position: relative;
	height: 100px;
	width: 100px;
	background-color: green;
}

.dhst_everything {
	position: relative;
	top: 0;
	left: 0;
	width: 510px;
	margin: 0 auto;
}

.dhst_content {
	position: relative;
	width: 100%;
	padding: 2px;
	text-align: center;
}



.dhst_title {
	display: inline-block;
	
	font-size: 30;
	color: white;
}
#dhst_toggle:checked ~ .dhst_content .dhst_title {
	transform: translate(-150px, 10px);
	-webkit-transform: translate(-150px, 10px);
	-moz-transform: translate(-150px, 10px);
	-o-transform: translate(-150px, 10px);
	-ms-transform: translate(-150px, 10px);
	font-family: 'Satisfy', cursive;
	color: navy;
}
#dhst_toggle:checked ~ .dhst_content .dhst_title::first-letter {
	font-family: 'Alex Brush', cursive;
	font-size: 90;
	color: red;
}

.dhst_body {
	text-align: justify;
	color: white;
	font-size: 15;
	padding: 10px;
}
#dhst_toggle:checked ~ .dhst_content .dhst_body {
	color: black;
	padding: 30px;
	text-align: left;
}


.dhst_background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}
#dhst_toggle:checked ~ .dhst_content .dhst_background {	
	filter: blur(1px);
	-webkit-filter: blur(1px);
	
	background-image: url('http://i.imgur.com/PQNlrxo.png'), url('http://i.imgur.com/WBXmLcN.png'), url('http://i.imgur.com/sSqGmPu.png');
	background-repeat: no-repeat, no-repeat, repeat-y;
	background-position: top left, bottom left, 0px 171px;
}