.vasp_container
  %img.vasp_image{:src => "http://i.imgur.com/IcI8Uu9.jpg"}
  %iframe.vasp_youtube{:src => "http://www.youtube.com/embed/JSoMtCbfiNI?autoplay=1&rel=0&loop=1&disablekb=1&modestbranding=1&hd=1&autohide=0&playlist=JSoMtCbfiNI", :frameborder => "0"}
  .vasp_header
    [Name]
    %span.vasp_details
      [age] • [rank] • [village]
  .vasp_title
    Character Info and Stats
  .vasp_content
    [info and stats]
    %a{:href => "https://www.google.com/", :target => "_blank"}
      google.com
  .vasp_title
    Jutsu and Skills
  .vasp_content
    [jutsu and skills]
  .vasp_title
    Summons
  .vasp_content
    [summons]
  .vasp_title
    Items
  .vasp_content
    [items]
  .vasp_title
    Misc
  .vasp_content
    [anything else]
