@media screen and (min-device-width: 1000px) { 


  @import url('https://fonts.googleapis.com/css?family=Nova+Mono');
  
  .gks_4 {
    text-shadow:  1px 1px #aeaeae, 
                  2px 2px #aeaeae, 
                  3px 3px #aeaeae;
    font-size: 35px;
    color: black;
  }
  
  .gks_1 {
    width: 550px;
    height: 300px;
    padding: 0px;
    margin: 0px;
    display: table;
    background-color: green;
  }
  
  .gks_2 {
    width: 50px;
    height: 300px;
    display: table-cell;
    position: relative;
    
    transition: width 1s;
    -webkit-transition: width 1s;
  }
  .gks_24 {
    background-image: url('https://i.imgur.com/pRzbIwr.png');
    background-color: blue;
  }
  .gks_23 {
    background-image: url('https://i.imgur.com/vm09CrW.png');
    background-color: green;
  }
  .gks_22 {
    background-image: url('https://i.imgur.com/fNyfZts.png');
    background-color: purple;
  }
  .gks_21 {
    background-image: url('https://i.imgur.com/b1Nuzp0.png');
    background-color: black;
  }
  
  .gks_1:not(:hover) > .gks_21 {
    width: 400px;
  }
  
  .gks_2:hover {
    width: 400px;
  }
  
  
  
  .gks_5 {
    position: absolute;
    height: 200px;
    width: 150px;
    top: 50px;
    left: 10px;
    
    opacity: 0;
    transition: opacity 1s;
  }
  .gks_51 {
    left: 175px;
  }
  .gks_52 {
  }
  .gks_53 {
    height: 50px;
    top: 5px;
  }
  .gks_54 {
    height: 50px;
    top: 220px;
  }
  .gks_2:hover > .gks_5:not(:hover), .gks_2:hover > a > .gks_5:not(:hover) {
    opacity: .4;
  }
  .gks_5:hover {
    opacity: 1;
  }
  .gks_1:not(:hover) > .gks_21 > .gks_5 {
    opacity: .4
  }
  
  
  .gks_7 {
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    
    font-size: 20;
    font-family: 'Nova Mono', monospace;
    
    color: white;
      text-shadow: -1px -1px 0 #000,
                   1px -1px 0 #000,
                   -1px 1px 0 #000,
                   1px 1px 0 #000;
  }
  
  .gks_6 {
    background-color: rgba(255,204,0,0);
    transition: background-color 1s, opacity 1s;
    
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 150px / 50px;
  }
  .gks_6:hover {
    background-color: rgba(255,204,0,1);
  }
  
  
  
  .gks_3 {
    position: absolute;
    bottom: 3px;
    right: 3px;
    
    
    white-space: nowrap;
    
    
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    
    transform: rotate(-90deg) translateX(100%);
    -webkit-transform: rotate(-90deg) translateX(100%);
    -moz-transform: rotate(-90deg) translateX(100%);
    -o-transform: rotate(-90deg) translateX(100%);
    -ms-transform: rotate(-90deg) translateX(100%);
  }
  .gks_2:hover > .gks_3 {
    animation: dhs_rotateBack .5s ease-in-out 1;
    animation-fill-mode: forwards;
    
    -webkit-animation: dhs_rotateBack .5s ease-in-out 1;
    -webkit-animation-fill-mode: forwards;
    
    -moz-animation: dhs_rotateBack .5s ease-in-out 1;
    -moz-animation-fill-mode: forwards;
    
    -o-animation: dhs_rotateBack .5s ease-in-out 1;
    -o-animation-fill-mode: forwards;
    
    -ms-animation: dhs_rotateBack .5s ease-in-out 1;
    -ms-animation-fill-mode: forwards;
  }
  
  @keyframes dhs_rotateBack {	100% { transform: rotate(0deg) translateX(0%) translateY(0%); } }
  @-webkit-keyframes dhs_rotateBack {	100% { -webkit-transform: rotate(0deg) translateX(0%) translateY(0%); } }
  @-moz-keyframes dhs_rotateBack {	100% { -moz-transform: rotate(0deg) translateX(0%) translateY(0%); } }
  @-o-keyframes dhs_rotateBack {	100% { -o-transform: rotate(0deg) translateX(0%) translateY(0%); } }
  @-ms-keyframes dhs_rotateBack {	100% { -ms-transform: rotate(0deg) translateX(0%) translateY(0%); } }
  
}

@media screen and (max-device-width: 999px) {
  .gks_1::before {
    content: "Signature super simplified due to the possibility of this being a mobile device! Sorry it's ugly now!"
  }
}