.dhst_everything
  %input#dhst_toggle{:type => "checkbox"}/
  %iframe{:src => "http://www.youtube.com/embed/https://youtu.be/M9Uh2Oq5vT4?&autoplay=1&rel=0&loop=1&showinfo=0&disablekb=1&hd=1&autohide=1&color=white&playlist=https://youtu.be/M9Uh2Oq5vT4",  :frameborder => "0"}/
  %label{:for => "dhst_toggle"}
    .dhst_button
      .dhst_turnOn
        Would you care for some
        %span.dhst_fancy
          fancy?
      .dhst_turnOff
        Make the
        %span.dhst_fancy
          fancy
        go away!
  .dhst_content
    .dhst_background
    .dhst_title
      Stats
    .dhst_body
      STR: 5
      %br/
      CHA: 20
      %br/
      SPD: 3
      %br/
      STA: 15
      %br/
      HLT: 17
      %br/
  .dhst_content
    .dhst_background
    .dhst_title
      Jutsu
    .dhst_body
      Free jutsu (I'm lazy atm, I'll link later)
  .dhst_content
    .dhst_background
    .dhst_title
      Skills
    .dhst_body
      \-
  .dhst_content
    .dhst_background
    .dhst_title
      Items
    .dhst_body
      \-
  .dhst_content
    .dhst_background
    .dhst_title
      About
    .dhst_body
      Just read the character app for now.
